@use "sass:map";

$breakpoints: (
  "sm": 500px,
  "md": 768px,
  "lg": 1024px,
  "xl": 1200px,
  "xxl": 1600px,
);

@mixin mq($breakpoint: md) {
  @media screen and (min-width: #{map.get($breakpoints, $breakpoint)}) {
    @content;
  }
}