:root {
  --color-main: rgb(194 18 68); //#c21244;
  --color-main--transparent: rgb(194 18 68 / 0.8);
  --color-main--transparent-0: rgb(194 18 68 / 0);
  --color-main--light: rgb(255, 231, 238);
  --color-sub: rgb(237 120 120); //#ed7878;
  --color-font: rgb(51 51 51); //#333;
}