@use "../global" as g;

:root {
  --base-vw: 375;

  @include g.mq() {
    --base-vw: 1024;
  }

  @include g.mq("lg") {
    --base-vw: 1920;
  }
}

html {
  font-size: calc(100vw / var(--base-vw));
}

body {
  font-size: 14rem;
  font-family: var(--font-jp);
  font-weight: 400;
  font-style: normal;

  @include g.mq() {
    font-size: 16rem;
  }
}

.hide-md {
  @include g.mq() {
    display: none;
  }
}