---
import { useTranslations } from "../i18n/utils";
const { currentLocale } = Astro;
const lang = (currentLocale || "ja") as "ja" | "en" | "de";
const t = useTranslations(lang);

const menuItems = [
  { text: t("nav.about"), href: "#about" },
  { text: t("nav.vendors"), href: "#shops" },
  { text: t("nav.history"), href: "#history" },
  { text: t("nav.events"), href: "#event" },
  { text: t("nav.access"), href: "#access" },
];
---

<footer class="c-footer">
  <div class="l-container">
    <div class="c-footer--inner">
      <small class="c-footer--small">
        ©2023 {lang != "ja" ? "Umeya" : "梅屋"} All rights reserved. <br
          class="hide-md"
        />
        Operated by{" "}
        <a
          href="https://yui-r.design"
          target="_blank"
          rel="noopener noreferrer"
        >
          {lang != "ja" ? "YUI-Renovation-Design" : "結リノベデザイン"}
        </a>
      </small>
      <ul class="c-footer--menu">
        {
          menuItems.map((item) => (
            <li>
              <a href={item.href}>{item.text}</a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</footer>

<style lang="scss">
  .c-footer {
    background-color: var(--color-main);
    color: white;
    padding-top: 48rem;
    padding-bottom: 48rem;
  }

  .c-footer--inner {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 24rem;

    @include g.mq() {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .c-footer--small {
    font-size: 12rem;
    line-height: 16rem;
    font-weight: 500;
    text-align: center;

    @include g.mq() {
      text-align: left;
    }
  }

  .c-footer--menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20rem;
    font-size: 12rem;
    line-height: 16rem;

    @include g.mq() {
      flex-direction: row;
      font-size: 14rem;
      line-height: 20rem;
    }
  }
</style>
