---
import { Image } from "astro:assets";
import topScrollImage from "../assets/top_btn.svg";
---

<a class="btn-top-scroll" href="#top">
  <Image loading="eager" src={topScrollImage} alt="Top Scroll Button" />
</a>

<style lang="scss">
  .btn-top-scroll {
    position: fixed;
    display: block;
    right: 16rem;
    bottom: 16rem;
    width: 32rem;
    aspect-ratio: 1 / 1;

    img {
      width: 100%;
      aspect-ratio: 1 / 1;
    }

    @include g.mq() {
      width: 50rem;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      inset: 0;
      background-color: var(--color-main);
      z-index: -1;
      border-radius: 6rem;
      scale: 1;
      transition:
        scale 0s,
        opacity 0s;
    }

    &:hover {
      &::before {
        scale: 1.2;
        opacity: 0;
        transition:
          scale 0.3s ease-in-out,
          opacity 0.5s;
      }
    }
  }
</style>
