---
import Title from "../components/Title.astro";
import { Picture } from "astro:assets";
import aboutImage from "../assets/sections/about.webp";

import { useTranslations } from "../i18n/utils";
const { currentLocale } = Astro;
const lang = (currentLocale || "ja") as "ja" | "en" | "de";
const t = useTranslations(lang);
---

<section id="about" class="l-section">
  <div class="l-container">
    <Title title={t("title.about")} bgTitle="ABOUT" />
    <div class="l-col-row-outer">
      <div class="l-col-row-container">
        <div>
          <Picture loading="eager" src={aboutImage} alt="梅屋の写真" />
        </div>
        <div>
          <p set:html={t("about.content")} />
        </div>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  // .l-section {
  // }
</style>
