---
import Title from "../components/Title.astro";

import { useTranslations } from "../i18n/utils";
const { currentLocale } = Astro;
const lang = (currentLocale || "ja") as "ja" | "en" | "de";
const t = useTranslations(lang);
---

<section id="access" class="l-section">
  <div class="l-container">
    <Title title={t("title.access")} bgTitle="Access" />
    <div class="l-col-row-outer">
      <div class="access-info">
        <address>{t("access.address")}</address>
        <p>
          {t("access.accessible")}
          <br />
          {t("access.note")}
        </p>
      </div>
      <div class="map-wrapper">
        <div class="map-container">
          <iframe
            title="Umeya Google Map"
            src={`https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d834.5138870645227!2d130.67101151153!3d33.21263992720276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3541087eea76d23d%3A0x93658f51ad481975!2z44CSODM0LTEyMTcg56aP5bKh55yM5YWr5aWz5biC6buS5pyo55S66buS5pyo77yT77yX!5e0!3m2!1sja!2sjp!4v1680924060602!5m2!1s${lang}!2sjp`}
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .access-info {
    margin-bottom: 32rem;
    address {
      font-weight: bold;
    }
  }

  .map-container {
    position: relative;
    width: 100%;
    padding-top: 100%;

    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      inset: 0;
      border: none;
    }

    @include g.mq() {
      padding-top: 72%;
    }
  }

  .map-wrapper {
    width: 100%;

    @include g.mq() {
      width: calc(100% / 3 * 2);
    }
  }
</style>
