---
import Title from "../components/Title.astro";
import ScheduleList from "../components/ScheduleList.astro";
import { getEvents, getPastEvents } from "../lib/umeyui";

import { useTranslations } from "../i18n/utils";
const { currentLocale } = Astro;
const lang = (currentLocale || "ja") as "ja" | "en" | "de";
const t = useTranslations(lang);

const events = await getEvents();
const pastEvents = await getPastEvents();
---

<section id="event" class="l-section">
  <div class="l-container">
    <Title title={t("title.events")} bgTitle="Pop-ups & Events" />
    <ScheduleList schedules={events} slideName="schedule-splide" />
    {
      pastEvents.length > 0 && (
        <>
          <h3 class="c-title-small">{t("title.pastEvents")}</h3>
          <ScheduleList
            schedules={pastEvents}
            slideName="past-schedule-splide"
          />
        </>
      )
    }
  </div>
</section>

<style lang="scss">
  .c-title-small {
    font-weight: bold;
    color: var(--color-main);
    font-size: 20rem;
    margin: 24rem 0 8rem;

    @include g.mq() {
      font-size: 24rem;
    }
  }
</style>

<script>
  // @ts-ignore
  import "@splidejs/splide/css/core";
  import Splide from "@splidejs/splide";

  window.addEventListener("load", () => {
    const scheduleSplide = new Splide(".schedule-splide", {
      gap: "24rem",
      autoWidth: true,
      pagination: false,
    }).mount();

    const pastScheduleSplide = new Splide(".past-schedule-splide", {
      gap: "24rem",
      autoWidth: true,
      pagination: false,
    }).mount();
  });
</script>
