---
import Title from "../components/Title.astro";
import ScheduleList from "../components/ScheduleList.astro";
import { getSchedules } from "../lib/microcms";

import { useTranslations } from "../i18n/utils";
const { currentLocale } = Astro;
const lang = (currentLocale || "ja") as "ja" | "en" | "de";
const t = useTranslations(lang);

// order new -> old
const schedules = await getSchedules(lang, {
  limit: 50,
  orders: "-start_time",
});

const pastSchedules = await getSchedules(lang, {
  limit: 50,
  // end_time, category is event
  filters: `end_time[less_than]${new Date().toISOString()}[and]category[contains]event`,
  orders: "-start_time",
});
---

<section id="event" class="l-section">
  <div class="l-container">
    <Title title={t("title.events")} bgTitle="Schedule & Events" />
    <ScheduleList schedules={schedules} slideName="schedule-splide" />
    <h3 class="c-title-small">{t("title.pastEvents")}</h3>
    <ScheduleList schedules={pastSchedules} slideName="past-schedule-splide" />
  </div>
</section>

<style lang="scss">
  .c-title-small {
    font-weight: bold;
    color: var(--color-main);
    font-size: 20rem;
    margin: 24rem 0 8rem;

    @include g.mq() {
      font-size: 24rem;
    }
  }
</style>

<script>
  import "@splidejs/splide/css/core";
  import Splide from "@splidejs/splide";

  window.addEventListener("load", () => {
    const scheduleSplide = new Splide(".schedule-splide", {
      gap: "24rem",
      autoWidth: true,
      pagination: false,
    }).mount();

    const pastScheduleSplide = new Splide(".past-schedule-splide", {
      gap: "24rem",
      autoWidth: true,
      pagination: false,
    }).mount();
  });
</script>
