---
import Title from "../components/Title.astro";
import { Image } from "astro:assets";
import historyImage from "../assets/sections/history.webp";
import historySpImage from "../assets/sections/history_sp.webp";

import { useTranslations } from "../i18n/utils";
const { currentLocale } = Astro;
const lang = (currentLocale || "ja") as "ja" | "en" | "de";
const t = useTranslations(lang);
---

<section id="history" class="l-section">
  <div class="l-container">
    <Title title={t("title.history")} bgTitle="HISTORY" />
    <div class="l-col-row-outer">
      <div class="l-col-row-container reverse">
        <div>
          <Image
            fetchpriority="high"
            loading="eager"
            class="kv pc"
            src={historyImage}
            alt="梅屋の写真"
          />
          <Image
            fetchpriority="high"
            loading="eager"
            class="kv"
            src={historySpImage}
            alt="梅屋の写真"
          />
          <!-- <Picture src={historyImage} alt="梅屋の写真" /> -->
        </div>
        <div>
          <ul class="history-list">
            <li>
              <h3>{t("history.meiji.title")}</h3>
              <p>
                {t("history.meiji.content")}
              </p>
            </li>
            <li>
              <h3>{t("history.taisho.title")}</h3>
              <p>
                {t("history.taisho.content")}
              </p>
            </li>
            <li>
              <h3>{t("history.showa.title")}</h3>
              <p>
                {t("history.showa.content")}
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .history-list {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 20rem;

    &::after {
      content: "";
      position: absolute;
      display: block;
      background-color: var(--color-main);
      left: 0;
      top: 8rem;
      width: 1rem;
      height: calc(100% - 8rem);
    }

    li {
      position: relative;
      padding-left: 20rem;

      h3 {
        font-size: 20rem;
        line-height: 28rem;
        font-weight: bold;
        color: var(--color-main);
      }

      p {
        font-size: 16rem;
        color: var(--color-font);

        b {
          color: var(--color-main);
        }
      }

      &::after {
        content: "";
        display: block;
        top: 6rem;
        left: -8rem;
        width: 16rem;
        aspect-ratio: 1 / 1;
        position: absolute;
        border-radius: 100%;
        background-color: var(--color-main);
      }
    }

    @include g.mq() {
      li {
        p {
          font-size: 18rem;
        }
      }
    }
  }
</style>
