---
import Title from "../components/Title.astro";
import {
  getAndDownloadInstagramPosts,
  getInstagramPosts,
} from "../lib/instagram";
import { Image } from "astro:assets";

import { useTranslations } from "../i18n/utils";
const { currentLocale } = Astro;
const lang = (currentLocale || "ja") as "ja" | "en" | "de";
const t = useTranslations(lang);

// const instagramData = await getInstagramPosts();
const instagramData = await getAndDownloadInstagramPosts();
---

{
  instagramData && (
    <section id="instagram" class="l-section">
      <div class="l-container">
        <Title title={t("title.instagram")} bgTitle="Instagram" />
        <div class="l-col-row-outer">
          <ul class="i-list">
            {instagramData.map((post) => (
              <li class="i-list--item">
                <a
                  href={post.permalink}
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <div class="i-list--item--inner">
                    <div>
                      <Image
                        src={post.local_image_path}
                        alt={post.caption || "Instagram post"}
                        width="300"
                        height="300"
                      />
                    </div>
                  </div>
                </a>
              </li>
            ))}
          </ul>
        </div>
      </div>
    </section>
  )
}

<style lang="scss">
  .i-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .i-list--item {
    width: 50%;
    transition: opacity 0.3s ease;
    &:hover {
      opacity: 0.8;
    }

    @include g.mq() {
      width: 25%;
    }
  }

  .i-list--item--inner {
    width: 100%;
    div {
      position: relative;
      height: 0;
      width: 100%;
      overflow: hidden;
      padding-top: 100%;
    }

    img {
      position: absolute;
      display: block;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
</style>
