---
import "@fontsource-variable/noto-sans-jp";
import "@fontsource-variable/noto-serif-jp";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import TopScrollButton from "../components/TopScrollButton.astro";

const { currentLocale } = Astro;
const lang = (currentLocale || "ja") as "ja" | "en" | "de";
---

<!doctype html>
<html lang={lang}>
	<head>
		<Head />
	</head>
	<body id="top">
		<div class="global-bg"></div>
		<Header />
		<slot />
		<Footer />
		<TopScrollButton />
	</body>
</html>

<style lang="scss">
	.global-bg {
		position: fixed;
		inset: 0;
		display: block;
		z-index: -1;
		background-image: url("/paper.webp");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		opacity: 0.6;

		&::after {
			content: "";
			display: block;
			inset: 0;
			position: absolute;
			background-color: rgba(194, 18, 68, 0.03);
		}
	}
</style>
